.App {
  display: flex;
  flex-direction: column;
  align-text: center;
}

@media screen and (min-width: 992px){
  .App{
    width: 50%;
  }
}

@media screen and (min-width: 1170px){
  .App{
    width: 35%;
  }
}

form{
  background: #e8e8e8;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.form-control{
  margin-bottom: 8px;
}

.list-group{
  margin: 0;
  padding: 0 0 15px 0 ;
}

.list-group-item{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.delete-button{
  cursor: pointer;
  float: right;
  padding-left: 5px;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  border-radius: 100%;
  border: 1px solid transparent;
  text-align: center;
  width: 46px;
}

.delete-button:hover{
  border: 1px solid #c0c0c0;
}